.storyTitleImage {
  margin-right: 1rem;
  cursor: pointer;
}
.username {
  font-size: large;
  cursor: pointer;
  font-weight: 600;
}
.moreIconDiv {
  margin-left: auto;
  cursor: pointer;
}
.storyImage {
  width: 80%;
}
.saveIcon {
  margin-left: auto;
}
.captionUsername {
  font-weight: 600;
  font-size: 14px;
  margin-right: 0.5rem;
}
.comments {
  cursor: pointer;
  font-weight: 400;
  color: grey;
}
.postSpan {
  cursor: not-allowed;
  color: #0095f6;
  padding-right: 1rem;
}
.activePostSpan{
  cursor: pointer;
  color: #0095f6;
  padding-right: 1rem;
}